[2017-01-05 00:26] cf-gitbot opened #1 "Please configure GITBOT"
Pivotal uses GITBOT to synchronize Github issues and pull requests with Pivotal Tracker.
Please add your new repo to the GITBOT `config-production.yml` in the [Gitbot configuration repo.](https://github.com/pivotal-cf/cfgitbot-config)
If you don't have access you can send an ask ticket to the CF admins. We prefer teams to submit their changes via a pull request.

Steps:
* Fork this repo: [cfgitbot

[2017-02-24 21:36] ljfranklin opened #2 "Adding support for export-release"
Hi @wendorf & @drich10!

As we all start using cf-deployment more and more, at some point teams will need to start producing pre-compiled releases. Although there are many ways we could do this, having an extra param on this resource that automatically outputs the pre-compiled tarball after a successful deploy would be pretty sweet. WDYT?

[2017-02-24 22:05] wendorf commented on #2
I agree that it'd be pretty useful for release authors to be able to get their compiled releases... but this sorta feels like a new `bosh-release-resource` instead of a feature of the deployment resource. I get that the compiled release is technically an artifact of the deploy, but I'm not sure that feature belongs here. I'm very open to debate, though, since it'd be a pretty easy feature to add.

[2017-02-24 22:09] wendorf commented on #1
https://github.com/pivotal-cf/cfgitbot-config/pull/164

[2017-02-24 22:18] #1 closed

[2017-02-24 23:28] ljfranklin commented on #2
@wendorf I just really like the idea that if this feature were added to this resource, you could follow every deployment with a put to a precompiled release s3 bucket. The resource itself would encourage people towards producing and consuming only pre-compiled releases. Unless Rel-Int starts producing pre-compiled releases for every CF team :)

[2017-03-05 19:31] wendorf commented on #2
Thinking about this more... Are you asking to have the releases be Concourse-style outputs? As far as I know, this isn't possible from a `put`. Instead, you'd have to configure a blobstore for the releases, the same way you configure `vars_store`. I think it'd make more sense for `get` to support a `compiled_releases` array, where we'd fetch the versions matching the manifest.

What do you think?

[2017-03-07 14:12] ljfranklin commented on #2
@wendorf yep, adding it to the `get` makes sense.

[2017-03-09 01:11] chendrix opened #3 "405 Method Not Allowed error"
When using the resource to do a deploy, we encounter the following error.

[code]

We verified locally that we can use the new bosh cli with the given client/secret to upload this release.

[2017-03-09 18:47] drich10 commented on #3
Hi @chendrix,

Thanks for shooting this our way. Is there a chance you could post the director logs with the requests being made so we could compare what is happening in the cli vs the resource? Looking at the cli vs what we're doing I can't see anything painfully obvious here.

[2017-03-09 19:11] chendrix commented on #3
Some new information.

Looking at `bosh tasks --recent` actually shows successful tasks for uploading the release that returns the 405.

[2017-03-09 20:03] chendrix commented on #3
[code]

[2017-03-16 22:27] wendorf commented on #3
Version 2.0.1 fixes this. Thanks for the report!

[2017-03-16 22:27] #3 closed

[2017-03-17 21:11] wendorf commented on #2
This is now available in [v2.1.0](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.1.0). We have enhanced functionality planned (support for deployments with multiple stemcells, support for specifying stemcell version), but this will hopefully be useful to you today.

[2017-03-17 21:11] #2 closed

[2017-03-23 22:39] ljfranklin opened #4 "Supporting YAML as a valid format for `source_file`"
The JSON format doesn't support newlines in things like CA certs, requiring scripts to escape those newlines. YAML would avoid this and still keep the existing JSON support.

Also really liking the resource so far!

[2017-03-24 15:47] ljfranklin opened #5 "Implicit `get` following a `put` fails when using `put.params.source_file`"
While the README documents that `source_file` only works on a `put`, every `put` in Concourse is followed by an implicit `get`. When using `source_file` only (no `source.target` in resource definition), the `put` succeeds but the implicit `get` fails with `Expected non-empty Director URL`:

![screen shot 2017-03-24 at 8 45 52 am](https://cloud.githubusercontent.com/assets/1923644/24302005/5aa5ac14

[2017-03-24 15:48] ljfranklin commented on #5
cc @drich10

[2017-03-28 18:33] drich10 commented on #4
Hi @ljfranklin!

So we originally did "try" to do this but there is an interesting change in behavior that occurs (at least when going from the json package to the  gopkg.in/yaml.v2 package) around merging. When using the built-in json package we get a nifty feature that will deep merge, essentially only overwriting the keys specified in the contents of `source_file`. When using `gopkg.in/yaml.v2`

[2017-03-28 20:16] ljfranklin commented on #4
@drich10 no don't know of a library off hand. Since there are only a few fields in `source_file` it wouldn't be hard to manually write a deep merge function, but I understand that it's not as nice implementation-wise as the JSON deep merge.

[2017-03-28 21:29] wendorf commented on #5
Thank you for the report! We've just cut [v2.2.0](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.2.0).

[2017-03-28 21:29] #5 closed

[2017-04-03 22:26] #4 closed

[2017-04-03 22:35] wendorf commented on #4
This is now available in v2.3.0 and on Docker Hub with the `latest` tag. Thanks for the suggestion!

[2017-04-11 09:16] rkoster opened #6 "Please add `git` executable for releases from git repository"
When trying to use the following runtime config:
[code]

I get:
[code]

[2017-04-11 19:31] wendorf commented on #6
Thanks for the report! I just released v2.4.0 of the resource (tagged `latest` on Docker Hub, so you should just get it) that fixes this issue.

[2017-04-11 19:31] #6 closed

[2017-04-11 20:51] rkoster commented on #6
thanks!

[2017-05-05 20:50] ljfranklin opened #8 "Deploy should fail if ops file path is invalid"
We accidentally configured our pipeline with a path to an ops file that did not exist. Rather that the deploy failing with `invalid argument for flag `-o, --ops-file'` as the CLI does, the deploy succeed, ignoring the invalid file path. This surprised us, having the job fail would have let us track down the invalid path more quickly.

We're guessing it has something to do with how [globs are unfur

[2017-05-05 21:08] #8 closed

[2017-05-05 21:11] ljfranklin commented on #8
+10 CF points for sheer speed!

[2017-05-05 21:15] wendorf commented on #8
This is now available in v2.5.0

[2017-05-10 20:56] reneighbor opened #9 "Resource expects "stemcells" node in manifest where not necessarily applicable"
The CloudOps team attempted to switch to using this resource. We are currently not using Cloud Config for this deployment. Our deployment is erroring out due to the missing "stemcells" node in our manifest file (which is not necessary for Bosh1-style manifests).

The error being thrown is: "No stemcells section in deployment manifest" [thrown from here](https://github.com/cloudfoundry/bosh-deploym

[2017-05-18 18:43] ljfranklin opened #10 "Support for fetching `vars-store.yml` via `get`"
Ran into an issue today where we needed access to the `vars-store.yml` after our deployment finished. Didn't look like this resource supported downloading the vars-store as part of `get`, so we attempted to fetch the file with the `gcs-resource` instead. However, we didn't realize that Concourse pins all `get` versions to latest at the start of the build ([context](https://concourseci.slack.com/ar

[2017-05-22 00:14] jmcarp opened #11 "Implicit get after put with dynamic source"
Because dynamic source configuration is only accepted for `put` operations, it's possible to do a `put` with one source and then an implicit `get` with a different source. For example, after a `put` with a source file that includes a dynamic certificate, concourse will run a `get` against the same resource, but without the certificate, causing the `get` to fail. The implicit `get` could even check

[2017-05-24 20:54] mariash opened #12 "Run cleanup after the deploy is finished not before"
When cleanup option is provided bosh-deployment-resource runs cleanup before deploy and deletes releases that were uploaded for the deployment. That results in deployment failure: `Error: Release version 'release-name' doesn't exist` The cleanup should run after the deploy is finished.

[code]

[2017-05-30 19:32] mdelillo opened #14 "Release and stemcell metadata ignore ops files"
When specifying a release that is added to the deployment manifest via an opsfile, we get the following error: `Release <release name> not defined in deployment manifest`. It looks like the release (and stemcell) metadata is consumed from the provided deployment manifest ([here](https://github.com/cloudfoundry/bosh-deployment-resource/blob/df91b8540662c8e6303149dbf8b14e582a1f4ad4/out/out_command.g

[2017-06-13 07:10] shreddedbacon commented on #9
When resource_pools is defined in cloud-config, there is no need to specify a stemcells section in the deployment manifest.

When I deploy something that uses a resource_pool, bosh-deployment-resource complains that stemcells is missing from my manifest, when it is not required.

[2017-06-16 17:22] jtarchie opened #17 "include option to skip ssl validation"

[2017-06-16 17:47] jtarchie opened #18 "delete a deployment"
It would be great to have `put` be able to delete a deployment.

[2017-06-19 20:22] cppforlife commented on #17
@jtarchie all directors deployed should be configured with certs that can be validated via ca cert. in fact cli doesnt allow non-validated connections.

[2017-06-19 21:13] jtarchie commented on #17
Closing as it was an issue with IP address we were pointed at.

[2017-06-19 21:13] #17 closed

[2017-06-22 18:04] ishustava opened #19 "The latest docker image points to a non-existent tag"
The latest docker image points to git tag `v2.5.1` which does not exist in [the bosh-deployment-resource repo](https://github.com/cloudfoundry/bosh-deployment-resource/blob/v2.5.1/Dockerfile).

/cc @kellygerritz

[2017-06-23 17:03] drich10 commented on #19
Apologies, this was the result of trying to do a release manually. The pipeline that did this previously did this was in the process of being recreated. I believe I have correctly cleaned up the artifacts to the failed `v2.5.1` release attempt. Please re-open this issue if you find something I missed.

[2017-06-23 17:03] #19 closed

[2017-06-29 03:47] apoydence opened #20 "Rebase while uploading release"
If trying to upload a dev release to the director, is there any way to emulate the rebase flag's functionality?

[2017-06-29 16:28] goonzoid commented on #14
+1, this is a problem for us as well.

[2017-07-06 22:10] o-orand commented on #11
We run into the same issue. Did you find a workaround ?

[2017-07-07 23:42] drich10 commented on #20
If you pass the resource the release tarball via the `releases` configuration the resource will ensure the version in the deployment manifest matches that of the tarball. Does that sufficiently cover the use case for you?

[2017-07-08 00:11] poy commented on #20
@drich10 I suppose if I name the release with the sha or something. The problem arises when I don't name it and it collides with a previous dev release.

[2017-07-11 14:25] poblin-orange commented on #9
Hi, this bug is really annoying.

Just tried to workaround adding a v2 stemcells tag on my bosh v1 manifest
[code]

Bottom line: this concourse resource is uncompatible with bosh v1 syntax manifest (still the case for cloudfoundry)

 Any hint or expected corrections ?

[2017-07-11 15:19] #14 closed

[2017-07-11 21:54] drich10 commented on #12
I just released v2.6.0 of the resource (tagged latest on Docker Hub, so you should just get it) that fixes this issue. Thanks for submitting the issue+PR!

[2017-07-11 21:54] #12 closed

[2017-07-11 21:55] drich10 commented on #20
Got it. I'm going to do some investigation and hopefully add the functionality if it is within reason. I will report back shortly!

[2017-07-11 22:32] drich10 commented on #20
@apoydence had a few conversations with bosh folks. The recommendation I received was to create the release with the `--timestamp-version` flag. This should give you increasing versions across runs of CI. Is that a reasonable solution for you?

[2017-07-11 22:35] drich10 commented on #18
I agree. Seems like a reasonable addition. I'll go ahead and add this to the list of features to implement in the near term. Always happy to accept PRs as well :)

[2017-07-11 22:50] jtarchie commented on #18
I'll look into it.

[2017-07-12 02:26] poy commented on #20
@drich10 Would this occur for only dev releases?

[2017-07-12 03:21] cppforlife commented on #20
at the end of the pipeline, once dev passed end to end tests for example, you can use "bosh finalize-release dev.tgz" and commit final metadata. if you dont specify --version on finalize-release it will pick next final version automatically. (https://bosh.io/docs/cli-v2.html#release-creation)

Sent from my iPhone

[2017-07-12 11:39] poy commented on #20
We will update our pipeline to do this. Closing.

[2017-07-12 11:39] #20 closed

[2017-07-13 10:41] aclevername opened #23 "vars_file fails to unmarshal yml"
We have configured a `put` to the resource to try and deploy a manifest that uses bosh2 cli variables (e.g. `((bosh.username))`). Reading the documentation it describes the `vars_file` as a way of configuring these variables, so we configured it like so:

[code]

When running the pipeline we get the following error: `Invalid parameters: Invalid parameters: json: cannot unmarshal string into Go val

[2017-07-14 15:20] drich10 commented on #23
The content of a vars_file should not need to be JSON. Looking at the config you posted it looks like you may have forgotten to make the content of `vars_files` an array. Which would be consistent with the `json: cannot unmarshal string into Go value of type []string` error. Let me know if this solves your issue!

[2017-07-14 15:23] drich10 commented on #9
Hi all, sorry for being late to the conversation. We originally designed this resource with v2 manifests in mind. I'm happy to look into what it would mean to fix this particular issue with the `stemcells` key. I'll post back to the issue after some investigation.

[2017-07-17 16:42] drich10 commented on #9
It seems like the resource itself should only be complaining about the omission of the `stemcells` key in the manifest if you attempt to use the `stemcells` upload/use in manifest feature described in the resource. There is currently no intent to make this feature work for v1 style manifests. Omitting the `stemcells` key from the `params` section of a `put` should get you past the error. If this i

[2017-07-21 11:30] andrew-edgar opened #24 "Use of SOCK5 tunnel"
We have the requirement to use a SOCK5 tunnel (which is supported by bosh2 cli).

Can we get the bosh-deployment-resource to add this functionality?   Basically we want to be able to setup the SOCK5 port forwarding and then use the BOSH_ALL_PROXY=socks5://localhost:5000 type of option when the tunnel is setup.

One reason is that bosh-lite ca.crt is hard coded to only accept from 192.168.50.4 but

[2017-08-21 11:21] chewymeister opened #25 "Bosh CLI authentication failing when UAA 'query_string_not_allowed' is enabled."
When doing a put to bosh-deployment-resource:

[code]

Upon further investigation, we discovered that the `bosh-deployment-resource` is using a relatively old version of `bosh-cli`. The tag [v2.0.15](https://github.com/cloudfoundry/bosh-cli/releases/tag/v2.0.15) includes the [commit](https://github.com/cloudfoundry/bosh-cli/commit/31b3e8b8e0c3406b0fb7a48a9a3d3783fb5bbb12) that allows the `bosh-cli

[2017-08-22 16:03] drich10 commented on #25
Hi there!

There is some complexity in the vendoring of the cli. I can take a look into this today, but I can't say for sure it will be quick since there has been a fair amount of development on the `bosh-cli` since the package was last bumped.

[2017-08-22 16:04] drich10 commented on #23
Closing since it seems likely you have gotten past the issue :)! Let me know if you are still seeing this issue.

[2017-08-22 16:04] #23 closed

[2017-08-23 00:42] utricularian opened #26 "Upgrading a major stemcell while using compiled-releases fails"
I have a preexisting, deployed bosh deployment that uses compiled-releases against a stemcell. I want to deploy a major stemcell bump, using newer compiled-releases (which have been compiled against my new stemcell). The deploy fails claiming my release `references packages without source code and are not compiled against stemcell`.

A new feature was added to the Bosh2 CLI to accommodate this if

[2017-08-24 09:22] chewymeister commented on #25
Hi Derek,

I was just wondering if this bit of work was being tracked in a backlog somewhere? There's no immediate urgency to the work but we will hold off using the resource until this work gets done. We also anticipate a lot of other downstream users running into the same issue as the `query_string_not_allowed` flag will be turned on by default in PCF 1.13.

[2017-08-25 15:20] drich10 commented on #25
Currently do not have a tracker for this, but usage seems to be moving towards a place where it should have one. I'm currently working on this and hope to have it out by early next week 👍

[2017-08-26 21:02] jmcarp commented on #11
@o-orand @gberche-orange: no, we're still using the original bosh deployment resource for now. Did you work around the problem by templating your pipelines? We were hoping to avoid that if possible.

WDYT @drich10 ?

[2017-08-29 15:18] drich10 commented on #25
@chewymeister I have an RC with the tags `v2.6.1-rc.3` & `release-candidate` containing the bump. Given the amount that has changed from a vendor perspective I want to spend some time doing extra validation before cutting a release. Could any chance you could use an RC to validate your use case? I currently do not have a bosh director configured with `query_string_not_allowed`.

[2017-08-29 15:29] drich10 commented on #9
I'm going to close this issue because I have only seen/received this issue in the case of a v1 style manifest with the `stemcells` option specified. The resource does _work_ with v1 manifests but there is currently no intent to make all optional features work with v1 styled manifests.

[2017-08-29 15:29] #9 closed

[2017-08-30 08:40] chewymeister commented on #25
Absolutely! Would love to test this out.

[2017-08-31 13:29] winnab commented on #11
Our team has hit this issue as well. Is there a recommended workaround or fix?

[2017-08-31 15:54] drich10 commented on #11
Hey all,

The intended use of the dynamic source file is to provide **all** the configuration under `source` in the file. The resource uses the lack of source configuration as an early exit mechanism in the implicit get after a put. If that doesn't work for you could you comment on this issue with your resource configuration in the `pipeline.yml` and the contents of your dynamic source file (secre

[2017-09-05 15:17] drich10 commented on #11
Closing issue after update to README. Sorry for the confusion all.

[2017-09-05 15:17] #11 closed

[2017-09-05 15:40] drich10 commented on #25
Released as a part of https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.6.1. Please reopen if you encounter any issues.

[2017-09-05 15:40] #25 closed

[2017-09-27 08:42] o-orand opened #28 "Upgrading to latest bosh-cli to support leading slash for variables in manifest"
Due to a bug in bosh-cli https://github.com/cloudfoundry/bosh-cli/pull/300, using a variable with a leading slash in manifest is not possible. As this resource is using an "old" version, we run into this bug, see https://github.com/orange-cloudfoundry/cf-ops-automation/issues/30.
Bumping to latest bosh-cli (or at least v2.0.36), will fix this.

[2017-09-28 01:24] evanfarrar commented on #24
:+1: to this. BBL is adding jumpboxes to most core dev teams' BOSH directors, and they'll be unable to use this resource at that time. The Infrastructure team will PR a fix for this, when we are able.

[2017-10-19 16:47] zankich opened #30 "panic in `"Creating new packages"`"
We're see the same issue as described in: https://github.com/cloudfoundry/bosh-cli/issues/311
[code]

Looks like this bug was fixed in this commit: https://github.com/cloudfoundry/bosh-cli/commit/f58b3a1827c1f4359397485d781c16f102e4b430

Can this resource be updated with the bug fixes?

[2017-10-25 19:15] drich10 commented on #30
Released as part of [v2.7.0](https://github.com/cloudfoundry/bosh-deployment-resource/tree/v2.7.0)!

[2017-10-25 19:15] #30 closed

[2017-11-08 14:56] o-orand commented on #28
closed with the fix for #30

[2017-11-08 14:56] #28 closed

[2017-12-07 16:23] drich10 commented on #18
Hey there! Closing this issue as this feature was just released as part of [2.8.0](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.8.0).

[2017-12-07 16:23] #18 closed

[2017-12-13 06:15] RMeharg opened #34 "Cannot delete deployment using example from README as manifest parameter is required"
Should this parameter be optional as it is not needed to delete the deployment?

Or should the README example be updated to include the manifest parameter?

[2017-12-13 15:57] drich10 commented on #34
Hey there, sorry for the misleading example. In the future I may remove the requirement, but it required more work to make it conditionally optional on the `out` command. I have updated the README to be a better example for now.

[2017-12-13 16:31] drich10 commented on #34
After some further evaluation and a little more caffeine I went ahead and made the change which is now available in `2.8.1`+. Thanks for raising this!

[2017-12-13 16:31] #34 closed

[2018-01-10 11:47] vlad-stoian opened #35 "Getting a `invalid character '/' after top-level value` error"
Hi,

We've recently upgraded to use the latest `bosh-deployment-resource` to get the jumpbox goodies and we started getting this message randomly, and the **put** step crashing:
[code]

This happens only some of the times, even if the configuration doesn't change at all. The message appears right after the deployment finishes.

Do you know what might be causing it?

Thank you,
Vlad and Alberto ( @

[2018-01-10 20:09] sesmith177 commented on #35
we (garden-windows team) are seeing this issue as well

[2018-01-11 15:43] drich10 commented on #35
I haven't witnessed the issue myself. Could you paste you resource/task configurations here with secrets scrubbed? Along with the logs if possible. I'd love to address it but I'm not quite sure where to start without config/logs from cases of this occurring.

[2018-01-11 16:00] sesmith177 commented on #35
@drich10 We suspect (but haven't proven yet) that the error happens when more than one release gets updated, e.g.:

[code]

When only one release is updated, we don't see the error:
[code]

[2018-01-11 16:20] aminjam commented on #35
@drich10 It's worth noting that this started to occur when we upgraded to bbl 5.x. We were previously using this resource with a public bosh director and didn't see this error.

[2018-01-11 16:29] vlad-stoian commented on #35
This is our output. We only have one release that gets updated. We're also using the jumpbox feature if it matters.

[code]

[2018-01-11 16:32] vlad-stoian commented on #35
As for configuration, here it is.

Resource config:
[code]
Task:
[code]

Also source file:
[code]

[2018-01-11 19:18] sesmith177 commented on #35
@drich10 it looks like the problem is the socks5 proxy is writing to stdout, resulting in invalid json:

[code]

[2018-01-11 20:41] sesmith177 commented on #35
@drich10 @vlad-stoian  we discarded the socks5 log output as a workaround:

https://github.com/greenhouse-org/bosh-deployment-resource/commit/c4fc7e3cadeef4898c7daa1978295efc450fbabb

there is a container image at pivotalgreenhouse/bosh-deployment-resource that we are using

[2018-01-16 16:03] drich10 commented on #35
Thanks for digging into this! I have pushed the same bandaid @sesmith177 did above as a workaround. I'll be opening an issue on the https://github.com/cloudfoundry/socks5-proxy repo to discuss a more permanent option. I'll close this issue once the build is published and I've submitted the other issue.

[2018-01-16 16:28] drich10 commented on #35
Published https://github.com/cloudfoundry/bosh-deployment-resource/tree/v2.8.2 with the workaround. Thanks for all the help. Please re-open if you continue to see issues.

[2018-01-16 16:28] #35 closed

[2018-02-05 23:13] xyloman commented on #10
+1 I need something similar we do not have access to use GCS so if the vars-store could be outputted to the input directory we could then use the vars-store.yml in a follow up task which might be to push it to s3.

[2018-02-06 15:38] drich10 commented on #10
@xyloman I do like the idea of making the file a possible `output` of doing a deployment. I think it is a simpler way to support what was being asked for above. Would this work for you @ljfranklin?

[2018-02-06 16:06] ljfranklin commented on #10
@drich10 it's early so I might be missing something, but I think it's a `get` either way. Concourse follows every `put` with an implicit `get` to make files available to subsequent tasks. I don't think you're allowed to modify the input directory with a `put`, might be mistaken though.

[2018-02-06 16:31] drich10 commented on #10
@ljfranklin yeah I've been investigating this since I posted my reply above. It does look like this requires additional `get` functionality. I'll look into this more from that angle. @xyloman there doesn't seem to be a _simple_ way to get this working for you without adding another storage provider.

Follow on question for the two of you (which should have been the first thing I did). What specifi

[2018-02-06 16:50] ljfranklin commented on #10
@drich10 back when I opened this no one was using CredHub so we needed to fetch the vars-store in order to get our generated creds out of BOSH. Honestly now that CredHub has arrived I don't know how useful fetching the vars-store would be, probably a credhub-resource is a better fit for grabbing creds. I only tend to use vars-store now for `create-env` bootstrapping flows which this resource doesn

[2018-02-21 14:45] drich10 commented on #10
Makes sense, glad time seems to have invalidated this feature for me. I'm going to close this issue since deploying a Bosh director with Credhub is the future AFAIK. @xyloman feel free to re-open this if for some reason deploying/using a credhub enabled Bosh director does not work for you.

[2018-02-21 14:45] #10 closed

[2018-03-08 14:49] vito opened #41 "Wait for lock before attempting deploy"
Currently `put` can fail if it can't get the deployment lock. I think it'd be pretty nice if it would wait on the lock (maybe and deploy after it's released. This would prevent spurious errors and also make it so Concourse can deploy over itself.

This could be done with the new `bosh locks` command, finding the one for the deployment, and using `bosh task` to attach to it (or just wait for the lo

[2018-03-09 14:56] jyriok opened #42 "bosh cli v1 on the new version of bosh-deployment-resource ?"
hello
i want use the " cloudfoundry/bosh-deployment-resource" version, for bosh cli V2
so for it, i add resources :
[code]

but when i add my source info :

[code]

and push it on my concourse and launch, i've error from the old version of  bosh-deployment-resource (the bosh v1 one)

[code]

  seem i use the deprecated version of bosh-deployment-resource  ( concourse/bosh-deployment-resource one )

[2018-03-09 16:36] jyriok commented on #42
ok my bad, i put bosh-deployment as resources and not resource_types
i close this issue

[2018-03-09 16:36] #42 closed

[2018-03-13 13:16] drich10 commented on #41
Ahoy there!

I like the idea. I'm trying to reason about what the "expected" behavior would be for dealing with the lock itself.

1) Wait on the lock to release, then do the `put` action.
2) Attach to the running task and use that as the indicator for success or failure.

I believe the first option makes more sense, but I want to confirm this jives with what you were thinking.

[2018-03-15 03:58] vito commented on #41
Yeah I like the first approach the most. Identifying which task to attach to and confirming it's doing the same thing the step's about to do seems like too much work.

The first approach is nice because it just has to wait for any locks to release, and then it'll do its thing, which might end up just being a no-op but re-running it will still provide peace of mind.

[2018-03-16 16:24] takeyourhatoff commented on #11
Hi, I recently hit this, I have a bosh director deployed by my pipeline with the BBL concourse resource. I then want to use this director to compile some releases. I am unable to to this with this resource as the implicit get after my put with the source_file parameter is skipped.

[2018-03-16 17:44] drich10 commented on #11
Hi @takeyourhatoff,

Are you trying to use the [compiled_releases feature](https://github.com/cloudfoundry/bosh-deployment-resource#in-download-information-about-a-bosh-deployment) on `get`? The resource does not support using the dynamic source file for a `get` operation, only on [`put`](https://github.com/cloudfoundry/bosh-deployment-resource#dynamic-source-configuration).

[2018-03-16 18:10] takeyourhatoff commented on #11
@drich10 Thanks for the response, yes. Is there a reason dynamic source is not supported on a get?

[2018-03-16 18:47] drich10 commented on #11
It mostly has to do with the current resource design set down by concourse. Simply put, the `bosh-deployment-resource` does not have access to a file supplied by the user on the `in` action, but does on the `out` action (which is why the dynamic source file was implemented for `out`). To implement dynamic source configuration for `in`, the resource would need an entirely different mechanism for ob

[2018-03-16 19:09] drich10 commented on #41
Released as part of [2.10.1](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.10.1)

[2018-03-16 19:09] #41 closed

[2018-03-16 20:13] takeyourhatoff commented on #11
I didn’t realise you didn’t get the files in the `in` action. That sucks. Ahh well, back to a task to `export releases`. Thanks :-)

[2018-03-17 02:00] vito commented on #41
Awesome!

[2018-03-23 17:32] youngm opened #45 "Support for updating cloud-config and cpi config would be great"
Upload cloud-config and cpi-config to the director sourced by the resource.  With vars, vars-files, etc support.

[2018-03-23 20:53] youngm commented on #45
Although I can see how this resource is focussed on a deployment.  So, perhaps this is a bad idea.

[2018-03-26 12:42] drich10 commented on #45
Hi there!

The resource has definitely been focused deployments up to this point, but I see the user value in being able to accomplish these tasks without having to write your own concourse automation. Let me mull this over a bit and would love to see if other people are interested in this behavior as well.

[2018-03-26 17:48] youngm opened #46 "Support for bosh-cli --var-file"
Many resources like bosh-io stemcell and S3 put the version of the resource in a file.  It would be great if in my bosh manifest I could parameterize the version of stemcell or a release and supply that value from their respective resource version files.

It seems that today I'd need to create a task that places those versions into a yml vars-file before invoking the bosh resource.

Bosh cli alrea

[2018-03-26 22:29] youngm opened #47 "Existing Stemcells don't get uploaded to new CPIs added to a director"
Sometimes a stemcell may be uploaded to a director but not to all of the CPI AZs of that director.  It would be nice if it were possible to force and upload of the stemcell so that the director will make sure it is on all of the CPIs.

[2018-03-30 15:28] drich10 commented on #24
[2.10.0](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.10.0) added configurable usernames for the SOCK5 support PR'd by the infrastructure team. Happy tunneling 🕳 !

[2018-03-30 15:28] #24 closed

[2018-03-30 15:33] drich10 commented on #46
I will add this to my list of things to do in the near future. Thanks for bringing the resource interplay to my attention!

[2018-03-30 15:48] drich10 commented on #47
I'm not sure I fully understand the issue here. When does this issue occur? Is this only in a multi-cpi setup? How have you resolved this situation in the past?

[2018-03-30 16:18] youngm commented on #47
@drich10 I'm sorry my issue wasn't more clear.  Here are steps to reproduce the issue hopefully this will help.

1. Execute deployment that uploads a stemcell using bosh-deployment-resource
2. Update director cpi config with a new CPI to the director.
3. Execute a deployment that attempts to use the new CPI you will get an error stating the stemcell doesn't exist on that cpi.

To manually fix this

[2018-03-30 16:38] youngm opened #49 "bosh-deployment-resource doesn't upload stemcells where the director has 2 different types of cpis"
Here is another multi-cpi stemcell issue we ran into.  Attempting to do a deploy that spans 2 CPIs (requiring 2 different stemcells) bosh-deployment-resource fails with a message like `Stemcell bosh-aws-xen-hvm-ubuntu-trusty-go_agent not defined in deployment manifest`.

Steps to reproduce:
1. Setup a director that uses 2 cpis of different types (e.g. AWS and vsphere)
2. This will require uploadin

[2018-03-30 18:30] drich10 commented on #47
Thanks for the detailed explanation 👍 . In your manual fix did you run `upload-stemcell` without any additional flags? Currently the resource will _essentially_ attempt a `bosh upload-stemcell` for each stemcell in the `stemcells` array, so it would be interesting if a vanilla `upload-stemcell` command works where the resource failed. I'll definitely look into this!

P.S. no apology needed :)

[2018-03-30 23:16] youngm commented on #47
@drich10 Hmm.....looking at the error we saw it looked as though bosh-deployment-resource detected that the stemcell was already uploaded (which it was to one cpi) prompting it to skip uploading it again.  However, perusing through the code I don't see any place where bosh-deployment-resource might have any of that logic.  Let me try to duplicate what I thought the issue was again and I'll do a li

[2018-04-02 18:38] cwlbraa opened #50 "deployment_name as a parameter for "put""
Following our discussion this morning surrounding https://github.com/cloudfoundry/bosh-deployment-resource/issues/11 and dynamic `get`s, we mostly decided that dynamically configured `get`s for concourse resources are generally not tenable, at least without some external state provider.

In light of that, we did a bit of sketching as to what might be missing from the `bosh-deployment-resource` to

[2018-04-02 19:51] drich10 commented on #50
I definitely see the value in allowing the user to more easily use these two resources together (especially for more than one bosh deployment). I worry about adding an additional method to reconfiguring the `deployment` on [`put`](https://github.com/cloudfoundry/bosh-deployment-resource#dynamic-source-configuration). The workaround to adding this feature could look something like this
[code]
Happy

[2018-04-02 20:24] drich10 commented on #50
Follow up here after talking with @simonjjones about this some more. An alternative to the two paths above would be to use define a `bosh-deployment-resource` per deployment you would like to interact with. In this case you could do something like:
[code]
@cwlbraa and friends wdyt?

[2018-04-02 20:56] cwlbraa commented on #50
I'd be happy if the second one is already supported.

[2018-04-03 13:07] drich10 commented on #50
Should work as described! Closing the issue, but feel free to reopen it if something you discover along the way makes this less desirable 😄

[2018-04-03 13:07] #50 closed

[2018-04-13 16:24] youngm commented on #47
Closing for now till I have time to try and dupe.

[2018-04-13 16:24] #47 closed

[2018-04-14 00:40] drnic opened #51 "Add option to show all job logs after deployment"

[2018-05-01 13:10] drich10 commented on #49
Hi @youngm,

I've been looking into this and I'm having a hard time writing a failing test for this scenario (maybe I'm not understanding it correctly). Given your description above I would expect any attempt to upload 2 stemcells of the same `os` or name to fail. I say this because the section of the [code](https://github.com/cloudfoundry/bosh-deployment-resource/blob/master/bosh/deployment_manif

[2018-05-01 14:18] youngm commented on #49
Hi @drich10 ,

It doesn't fail with the stemcell upload. It fails when attempting to set the versions of the stemcell in the deployment manifest prior to deploy.  And it actually only fails when the stemcells are of the same version because there will only be one stemcell referenced in the deployment manifest in that case.  I believe it fails with this error https://github.com/cloudfoundry/bosh-de

[2018-05-01 14:22] youngm commented on #49
@drich10 thanks for looking into this.  I'll attempt to duplicate the situation again and give you the details of stemcell version and a sample manifest and exact error I'm getting.

[2018-05-01 16:16] youngm commented on #49
@drich10 Well, I just tested the very configuration that I thought failed before and it seems to be working now.
How embarrassing.  I don't know what was wrong with me when I submitted these last 2 issues.  Sorry for taking up your time looking into it.  Next issue I'll be sure to be super thorough with complete test cases and everything.

Thanks for your help!

[2018-05-01 16:16] #49 closed

[2018-05-02 12:29] drich10 commented on #49
No problem! I'm just glad everything ended up working for ya. Thanks for double checking and getting back to me 👍 .

[2018-07-11 13:38] henderjm commented on #46
Hi @drich10

Is there any progress on this being available in the latest docker image? It caught us by surprise that it actually isn't available but is documented on master.

EDIT
We tried to use the latest Release Candidate on docker but we got the following error with this configuration:

[code]

[code]

/cc @karampok

[2018-07-11 17:57] drich10 commented on #46
Sorry about the docs and inflight feature being on master. There were some file system lookup issues with the way this was implemented and I haven't had a chance to fix it up yet. I reverted the in-flight changes to reduce the confusion about whether or not this feature exists. I hope to get back to this _soon_. Hopefully sometime in the next week or so?

[2018-07-12 14:33] henderjm commented on #46
Hey,

No worries at all @drich10. I was actually able to get it working in the end. In the Bosh CLI code it looks for an absolute path to the `var_files` argument.
https://github.com/cloudfoundry/bosh-deployment-resource/blob/master/vendor/github.com/cloudfoundry/bosh-cli/director/template/var_file_arg.go#L30

So in order for this to work I just set my value to

[code]

Perhaps concourse provides

[2018-08-02 14:04] henderjm opened #53 "Expected non-empty Director URL"
Hi,

After upgrading to concourse 4.0 we are seeing orange outputs from our jobs with the following error

[code]
We haven't noticed any side affects of this check failling in our pipelines yet.

Thanks,
Mark.

[2018-08-08 18:42] drich10 commented on #46
Should be supported with current directory taken into account as part of the [2.12.0 release](https://github.com/cloudfoundry/bosh-deployment-resource/releases/tag/v2.12.0). Thanks for the nudge and the patience!

[2018-08-08 18:42] #46 closed

[2018-08-08 18:54] drich10 commented on #53
Hi Mark!

This happened as in one of the `Fixes` section of the [4.0 release notes](https://concourse-ci.org/download.html#v4.0.0). Specifically:
[code]
My expectation is any pipeline using the resource using only dynamic configuration will have this issue unless the resource has another flag added to the `source` section that turns the `check` operation into a no-op when using `source_file` on `o

[2018-08-15 21:16] zachgersh opened #55 "add support for running an errand to completion"
doesn't seem like this is available at present?

[2018-08-21 13:10] drich10 commented on #55
You are correct, this behavior currently is not available in this resource. If you need this behavior now the [bosh-errand-resource](https://github.com/cloudfoundry-community/bosh2-errand-resource) exists, but I'm happy to accept a PR adding this. Closing the issue due to the existence of errand resource.

[2018-08-21 13:10] #55 closed

[2018-08-24 12:37] #53 closed

[2018-09-05 07:41] o-orand commented on #45
Indeed it could be great to include this support in the resource, we currently use dedicated tasks to perform this job. We'd be glad to use this feature.

[2018-09-10 17:32] aegershman opened #56 "Ability to create BOSH directors (create-env)"
[The `bbl-state-resource` can create BOSH directors.](https://github.com/cloudfoundry/bbl-state-resource) However I do not have a use case which involves creating BOSH environments with `bbl`. My team stands up BOSH environments with the standard bosh cli.

I'd like to be able to perform the equivalent of `bosh create-env` with this resource.

[2018-12-28 21:25] mattysweeps opened #57 "source_file cannot be used with check"
My checks always fail with
[code]

Because I have not configured the resource source.
This is because I am using dynamic source, loaded from a bbl-state-resource.

What is the right thing to do? Is this the expected behavior of the check?

[2019-01-09 18:13] aegershman commented on #56
Closing. Assuming that `bbl-resource` is the more official way to create/upgrade bosh directors via concourse automation.

[2019-01-09 18:13] #56 closed

[2019-02-19 17:21] genevieve opened #58 "Is it possible to have the resource print the deployment manifest on `out`?"
When bosh deploy fails the first time, there is no way to target that director and get the manifest it was trying to deploy. Given this is a concourse resource and not a bash script that we can modify and experiment with, every time the bosh deploy fails, we have to rekick the job from the beginning (and our job starts with a `bosh delete-deployment` so you can imagine this makes feedback loops ra

[2019-08-16 10:12] DanielJonesEB commented on #45
There's [bosh-config-resource](https://github.com/cloudfoundry-community/bosh-config-resource) for that. I've forked it and will raise PRs soon to allow use of `source_file`, `ops_files` and `vars`.

[2019-08-16 10:19] DanielJonesEB opened #62 "Upload stemcells by URL?"
Would y'all be open to a PR adding a `stemcell_url_files` array, which points to a series of files containing URLs to stemcells to upload?

cf-deployment and kubo-deployment both specify exact stemcell versions in their manifests. I would like to upload whatever stemcell they happen to specify _at runtime_. When a new version of those manifests enters the pipeline, I don't want to have to read the

[2019-10-09 22:43] poblin-orange opened #63 "final bosh release should not be force uploaded if present in the director"
Using this resource in a CD concourse pipeline. The dependent bosh releases are in final version.
We experience slowness due to resource uploading the bosh releases even if previously updated.

eg:
[code]

This loses time on big deployment (eg: cf-deployment) and put useless load on the director most of the time.

Could the resource be optimized for this use case ?

[2019-10-17 15:21] drich10 commented on #57
Unfortunately this is expected behavior, there is an option to `skip_check` available in the `source` section of configuration.

Relevant issue: https://github.com/cloudfoundry/bosh-deployment-resource/issues/53

[2019-10-17 15:21] #57 closed

[2020-08-18 10:14] alexmirkhaydarov opened #66 "SOCKS5 proxy support"
We are tunneling through our jumpbox by setting the variable `BOSH_ALL_PROXY` and then calling the BOSH CLI through our script, which is fine and it works. But it would be nice to see support for `BOSH_ALL_PROXY` in the bosh-deployment-resource, which will help to reduce our long and complex scripts etc. Is there any support we can get for SOCKS5 proxy? Thanks.

[2020-08-18 10:19] alexdotsh commented on #66
Source for [docs](https://bosh.io/docs/cli-tunnel/) using BOSH tunneling for the CLI.

[2020-09-29 09:19] o-orand opened #67 "Bump to latest bosh code (6.4.0)"
Hi,
[Bosh cli v6.3.0](https://github.com/cloudfoundry/bosh-cli/releases/tag/v6.3.0) include a nice feature, it improve ouput logs to display bosh lifecycle step, like below:

    Task 8299998

    Task 8299998 | 20:36:48 | Preparing deployment: Preparing deployment (00:00:03)
    Task 8299998 | 20:36:51 | Preparing deployment: Rendering templates (00:00:05)
    Task 8299998 | 20:36:56 | Preparing

[2021-02-24 00:25] #58 closed

[2021-08-02 11:39] DanielJonesEB commented on #45
I didn't get around to raising the PR, but [here's a link to the fork with these features](https://github.com/EngineerBetter/bosh-config-resource)

[2021-08-03 15:40] #67 closed

[2021-08-03 15:40] #66 closed

[2021-08-03 15:40] #63 closed

[2021-08-03 15:40] #62 closed

[2021-08-03 15:40] #51 closed

[2021-11-25 16:07] rkoster commented on #45
@DanielJonesEB are you still interested in making this PR?

[2021-11-25 16:19] DanielJonesEB commented on #45
@rkoster I don't think I'm allowed to write code any more, but I could ask more competent members of the team to do so. Would it be of value to someone if we did? Has someone else recently experienced the same need, or are you simply tidying up old issues?

[2021-11-25 16:35] rkoster commented on #45
I'm tidying up old issues, That being said with the [foundational infrastructure working group](https://github.com/cloudfoundry/community/blob/main/toc/working-groups/foundational-infrastructure.md) in place, a PR if submitted is guaranteed to be reviewed.

[2022-06-29 23:01] dhruvaop opened #80 "invalid character '{' after top-level value;"
JSON FILE

{
  "name": "sample-http",
  "version": "0.0.1"
}
{
  "name": "get_reviews",
  "description": "Get restaurant reviews.",
  "version": "0.0.1",
  "author": "Google Inc.",
  "engines": {
    "node": "8"
  },
  "dependencies": {
    "actions-on-google": "^2.0.0",
    "firebase-admin": "^4.2.1",
    "firebase-functions": "1.0.0",
    "axios": "0.16.2"
  }
}

[2022-06-30 14:57] rkoster commented on #80
@dhruvaop Could you provide a bit more context? Are you sure this issue is posted on the right repo?

[2022-09-30 15:40] dhruvaop commented on #80
@rkoster yes

[2022-10-19 07:01] mvach commented on #80
Hi @dhruvaop, do you have more context than "yes"?

[2022-11-07 10:30] ramonskie commented on #80
there has been no activity for more than 2 weeks we can assume that we can close this issue.
if the problem still exists please provide more context and reopen this issue

[2022-11-07 10:30] #80 closed